$ghost: #E7EAF3;
$light: #bbc1da;
$indigo: #153B50;
$gold: #D5A021;
$bronce: #857E61;
$white: #f2f2f2;
$dark: #333;

// Breackpoints
$tablet: 480px;
$laptop: 1024px;

// Fonts Family
$baloo: baloo;
$telugu: telugu;
$fugaz: fugaz;
$ubuntu: ubuntu;

