@use '../../styles/vars' as v;

.MenuList {
  padding: 1rem 0;
  color: #f2f2f2;
  width: 100%;

  & li {
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;

    & a {
      display: flex;
      align-items: center;
      min-height: 5.6rem;
      padding: 0 2rem;
      width: 100%;
      transition: .3s all ease;
      text-transform: uppercase;
      font-size: 1.4rem;
      border-bottom: .1rem solid rgba(v.$light, .2);
      
      &:hover {
        background: rgba(v.$dark, .6);
        color: v.$gold;
      }
    }
  }
}
.Active {
  border-right: v.$gold solid .4rem;
  background: rgba(0, 0, 0, .4);
  color: v.$light;

  &:hover {
    background: rgba(0, 0, 0, .4) !important;
    color: v.$light !important;
  }
}